{% extends "layout.html.twig" %}

{% block title %}Error!{% endblock %}

{% block content %}
    <div class="row" id="error_message">
        <h1>Whoops...<br>
            <small>{{ message }}</small>
        </h1>
    </div>
{% endblock %}