{% extends 'layout.html.twig' %}

{% block title %}User authentification{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            <strong>Login failed!</strong> {{ error }}
        </div>
    {% endif %}
    <div class="row">
        <form class="form-signin form-horizontal col-md-5" role="form" action="{{ path('admin_login_check') }}"
              method="post">
            <div class="form-group">
                <input type="text" name="_username" value="{{ last_username }}" class="form-control"
                       placeholder="Enter your username" required autofocus>
            </div>
            <div class="form-group">
                <input type="text" name="_password" class="form-control" placeholder="Enter your password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-log-in"></span> Log In
                </button>
            </div>
        </form>
    </div>
{% endblock %}