{% extends "layout.html.twig" %}

{%  block title %}Token Users{%  endblock %}

{%  block content %}
<br>
<a href="/token/add">
    <button class="btn btn-default ButtonYuNoRight">Création d'une nouvelle checklist</button>
</a>
<br><br><br>
<div class="container">
    <section class="col-lg-12">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th>Compte</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Test</td>
                <td>Test</td>
            </tr>
            </tbody>
        </table>
    </section>
</div>
{%  endblock %}